* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 16px;
}
/* html, body {
    overflow-x: hidden;
} */
body {
    background-color: #fff;
    color: #747474;
    font-family: "Encode Sans Condensed", sans-serif;
    margin: 0 auto !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    max-width: 100%;
}
a, a img, img {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video,input,button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Encode Sans Condensed", sans-serif;
    background: 0 0;
}
ul  {
    list-style: none;
    padding-left: 0
}
.container {
    max-width: 110.688rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 1.5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.col-2 {
    width: 20%;box-sizing: border-box;
}
.col-6 {
    width: 60%;box-sizing: border-box;
}
.col-5 {
    width: 50%;box-sizing: border-box;
}
.col-3 {
    width: 30%;box-sizing: border-box;
}
.col-4 {
    width: 40%;box-sizing: border-box;
}
.col-45 {
    width: 45%;box-sizing: border-box;
}
.col-7 {
    width: 70%;box-sizing: border-box;
}
.col-half {
    width: 50%;box-sizing: border-box;
}
.col-third {
    width: calc(100% / 3);box-sizing: border-box;
}
.col-forth {
    width: calc(100% / 4);box-sizing: border-box;
}
/*Header css*/
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
}
.justifyspacebetween {
    justify-content: space-between;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.aligncenter {
    align-items: center;
}
.mainbanner {
    height: 100vh;
    position: relative;
}
.mainbanner .bannerimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header.siteheader {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    background: rgb(3 28 54 / 34%);
    padding: 1.5rem 0;
}
header.siteheader .logo img {
    max-width: 50px;
}
.contactbtn a {
    background: linear-gradient(90deg, rgba(0,203,198,1) 0%, rgba(5,159,100,1) 100%);
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 2.188rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    border-radius: 6px;
}
.navbar ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 2.5rem;
}
.navbar ul li.active a {
    font-weight: 600;
    color: #00CBC6;
}
.mainbanner .container {
    height: 100%;
    padding-top: 80px;
}
.mainbanner 
 .bannercontent {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
}
h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.4;
    background: linear-gradient(90deg, rgba(0,203,198,1) 0%, rgba(5,159,100,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 1rem;
}
.button-theme {
    background: linear-gradient(90deg, rgba(0, 203, 198, 1) 0%, rgba(5, 159, 100, 1) 100%);
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 2.188rem;
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 6px;
    margin-top: 2rem;
}
.button-theme:hover {
    background: linear-gradient(90deg, rgba(0, 203, 198, 1) 100%, rgba(5, 159, 100, 1) 0%);
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
}
.mainbanner .bannercontent .contentwrap {
    max-width: 46rem;
}
.uspsec, .sitefooter {
    background-position: bottom;
}
.cover {    
    background-repeat: no-repeat;
    background-size: cover;
}
.spaceequal {
    padding: 70px 0;
}
.usprow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.uspcol {
    width: calc(100% /4);
    text-align: center;
}
h2 {
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(0,203,198,1) 0%, rgba(5,159,100,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.625rem;
}
.uspcol .count p {
    font-size: 2rem;
    font-weight: 500;
}
.mb-6 {
    margin-bottom: 6rem;
}
.ourprincipalslider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.ourprincipalboxes {
    position: relative;
}
.ourprincipalboxes hr {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    border-top: 1.5px dashed rgba(0,203,198,1);
}
.ourprincipalslide {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    background-color: #181833;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgba(0,203,198,1);
    padding: 2rem;
}
.ourprincipalslide .ourprincipalslideinnr p {
    display: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    width: 16rem;
}
.ourprincipalslider {
    height: 300px;
}
.ourprincipalboxes .content h4 {
    margin-top: 1.2rem;
    font-size: 1.875rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}
.ourprincipalslide:hover {
    width: 24rem;
    height: 24rem;
}
.ourprincipalslide {
    transition: 0.5s all ease-in-out;
}
.ourprincipalslide:hover p {
    display: block;
}
.teamrow {
    max-width: 70rem;
    margin: 2rem auto 0;
    padding: 4rem 4.8rem;
    border-radius: 8px;
    background: #D9D9D9;
}
.teambox {
    display: flex;
}
.teambox .teamimg {
    width: 40rem;
    height: 17rem;
    border-radius: 10px;
    overflow: hidden;
}
.teambox .teamimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teamcontent {
    padding-right: 4rem;
}
.teamcontent h2 {
    color: #031C36;
    font-size: 2.5rem;
    font-weight: 500;
    background: transparent;
    -webkit-text-fill-color: unset;
}
.teamcontent p {
    font-size: 1.4rem;
    color: #031C36;
    margin-bottom: 1rem;
}
.insightsec {
    background-size: contain;
    background-position: bottom;
}
.headingBox {
    margin-bottom: 2.5rem;
}
.blogimg {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.blogimg img {
    height: 100%;
    width: 100%;
}
.col-innr {
    padding: 0 8px;
}
.blogcontent .date {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 10px;
}
.blogcontent h3 {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 10px;
}
.blogcontent a {
    font-size: 16px;
    background: linear-gradient(90deg, rgba(0,203,198,1) 0%, rgba(5,159,100,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.blogcontent a svg {
    margin-left: 10px;
}
.showall .button-theme {
    max-width: 17rem;
    color: #031C36;
    background: #fff;
    font-weight: 600;
    margin-top: 2.5rem;
}
.menufooterbar ul, .footerbottomsec .copyrow ul {
    display: flex;
}
.menufooterbar ul li a, .footerbottomsec .copyrow ul li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
.menufooterbar {
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-bottom: 36px;
}
.footerbottomsec .copyrow {
    display: flex;
    justify-content: space-between;
}
.footerbottomsec .copyrow ul li a {
    padding-right: 16px;
    position: relative;
}
.footerbottomsec .copyrow ul li:not(:last-child) a:after {
    position: absolute;
    right: 0;
    content: "|";
}
.footerbottomsec .copyrow  p {
    font-size: 16px;
}
footer.sitefooter.cover.spaceequal {
    padding-bottom: 50px;
}
.footertopsec .row {
    justify-content: space-between;
}
.footersubscribe h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 16px;
}
.newsletterbox .inputfield {
    display: flex;
}
.newsletterbox .inputfield input[type="text"] {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    width: 100%;
    margin-right: 16px;
}
.newsletterbox input {
    background: #fff;
    border-radius: 6px;
}
.newsletterbox button.button-theme {
    margin: 0;
}
.col-35 {
    width: 35%;
}
.list-content {
    padding: 3.75rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.whatwedo.cover.spaceequal {
    overflow: hidden;
}
.list-content .list-title {
    font-size: 2.5rem;
    background: transparent;
    -webkit-text-fill-color: unset;
    font-weight: 500;
    color: #fff !important;
    background-clip: unset;
}
.list-content .list-text {
    font-size: 1.3rem;
    line-height: 1.4;
}
.list-content {
    margin-bottom: 28px;
}
.boxesticky {
    padding-left: 10rem;
}
section {
    position: relative;
}
.section.sticky-sec {
    z-index: 20;
    background-color: var(--dark-black);
    overflow: visible
}
.min-100vh-sec {
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
}
.section.sticky-sec .container {
    z-index: 10;
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8em;
    padding-right: 8em;
    position: relative;
}
.flex-for-sticky {
    z-index: 10;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    display: flex;
    position: relative;
}
.sticky-column-3 {
    grid-row-gap: 4em;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
    min-height: 100vh;
    padding-top: 14em;
    padding-bottom: 14em;
    display: flex;
    position: sticky;
    top: 0;
}
.text-align-center {
    text-align: left;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.textcontent {
    padding-top: 6rem;
}
.margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.sticky-column-2 {
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    padding-top: 80vh;
    padding-bottom: 80vh;
    padding-left: 6em;
    display: flex;
    position: relative;
}
.sticky-column-2-bg {
    z-index: 1;
    background-image: linear-gradient(90deg, #0a0d1499, #0000);
    border-left: 1px solid #ffffff26;
    position: absolute;
    inset: 0%;
}
.custom-list-2 {
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: auto;
    display: flex;
    position: relative;
}
.list-block.less-padding, .list-block.with-animation {
    padding-bottom: 2em;
}

.list-block {
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 4.5em;
    display: flex;
    position: relative;
    overflow: hidden;
}
.circle-in-list {
    color: var(--white);
    border-radius: 50%;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin-right: 2.5em;
    display: flex;
    position: relative;
}
.circle-background-bolt {
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-image: linear-gradient(135deg, #fff3, #ffffff05);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.custom-list-icon {
    z-index: 10;
    object-fit: contain;
    width: 1em;
    height: 1em;
    font-size: 1.4em;
    position: absolute;
}
.w-embed:after {
    clear: both;
}
.list-title.is-white-color {
    color: var(--white);
}
.sticky-column-3:before {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    background-color: #999999;
    width: 1px;
    height: 70%;
}
.list-text {
    max-width: 26em;
    font-size: 1.1em;
    line-height: 1.5em;
}
.list-title {
    color: var(--brand-blue);
    margin-bottom: .7em;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
.w-embed:before, .w-embed:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
svg:not(:root) {
    overflow: hidden;
}
.w-dyn-item {
    position: relative;
}
.w-dyn-item:before {
    content: "";
    position: absolute;
    left: -130px;
    top: 40%;
    background: linear-gradient(90deg, rgba(0, 203, 198, 1) 100%, rgba(5, 159, 100, 1) 0%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.siteheader.fixed {
    position: fixed;
    top: 0;
    z-index: 111;
    left: 0;
    width: 100%;
    background: rgb(3 28 54);
}
@media(max-width: 1920px) {
    html {
        font-size: 82%;
    }
}
@media(max-width: 1600px ) {
    html {
        font-size: 75%;
    }
}
@media(max-width: 1440px ) {
    html {
        font-size: 62%;
    }
}
@media(max-width: 1360px ) {
    html {
        font-size: 65%;
    }
}
